<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="file:///Users/bryan/IdeaProjects/blog_examples/example1/target/jnlp" href="$outputFile">
<!--<jnlp spec="1.0+" codebase="http://www.scruffles.net/blog/examples" href="$outputFile">-->
 <information>
    <title>Example App</title>
    <vendor>Bryan Young</vendor>
    <homepage href="http://blog.scruffles.net/"/>
    <description kind="one-line">Description</description>
    <description kind="short">Description</description>
    <description kind="tooltip">Description</description>
    <!--<icon href="http://timefinder.sourceforge.net/jnlp/shamrockwhite.jpg" kind="default"/>-->
    <!--<shortcut online="false"><desktop/><menu submenu="TimeFiner"/></shortcut>-->
 </information>
 <security>
     <!--<all-permissions/>-->
 </security>
 <resources>
    <j2se version="1.6+" initial-heap-size="32m" max-heap-size="128m" />
    <property name="jnlp.versionEnabled" value="true"/>
    $dependencies
 </resources>
 <application-desc main-class="$mainClass">
 </application-desc>
</jnlp>